image boot.vfat {
    vfat {
        file uImage { image = "linuximage" }
        file imx23-olinuxino.dtb { image = "imx23-olinuxino.dtb" }
    }
    name = boot-vfat
    size = 32M
}

image @IMAGE@ {
	hdimage {
		align = 2M
	}

	size = 2G

	partition bootstream {
		image = "u-boot.sd"
		size = 2M
		partition-type = 0x53
	}

	partition boot {
		image = "boot.vfat"
		size = 32M
		partition-type = 0x5d
	}

	partition root {
		image = "root.ext2"
		partition-type = 0x83
	}
}
